.idea/

# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude .direnv
.direnv

# Eclude precommit hooks config
.pre-commit-config.yaml

# Node
node_modules/

## Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

## KubeJS Typings
.probe/
