name: Release Message

on:
  release:
    types: [published]

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1
        with:
          webhook_url: ${{ secrets.RELEASE_WEBHOOK }}
          username: "FullMash Announcements"
          content: "<@&1331700158433595504>"
          footer_timestamp: true
